html {
  height: 100%;
}

body {
  background-color: #0f152d;
  font-family: "Righteous", sans-serif;
  font-weight: 600;
  margin: 0px;
  min-height: 100%;
  color: #cdfeff;
  font-family: "Jost", sans-serif;
}

.autotext {
  color: #8debe3;
}

h1.brand {
  font-family: "Sixtyfour Evenly", sans-serif;
  color: #cdfeff;
  height: 10pt;
  font-size: 6vw;
  padding: 0 5px;
}

p.h1-mini {
  padding-top: 15px;
  padding-left: 5px;
}

h1, h2, h3 {
  font-family: "Righteous", sans-serif;
}

h2 {
  margin: 2px 0 2px 0;
}

.autotyping {
  font-family: "Workbench Slight", sans-serif;
  color: #8debe3;
}

.home-links {
  text-align: right;
  background-image: url("../img/rev_crt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 72px;
  padding-top: 1rem;
}

.home-links a {
  /*background: #06474569;*/
  font-family: "Megrim", sans-serif;
  font-size: 60px;
  text-decoration: none;
  color: #8debe3;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65a3ff, -0.2rem 0.1rem 1rem #6589ff, 0.2rem 0.1rem 1rem #659bff, 0 -0.5rem 2rem #2483ff, 0 0.5rem 3rem #245eff;
  animation: shine 2s forwards, flicker 3s infinite;
}

.about_U {
  font-size: 68px;
}

.h1-mini {
  color: #cdfeff;
  font-family: "Press Start 2P", sans-serif;
  font-size: 11px;
}

.bsky-home {
  text-align: left;
  background: rgba(0, 0, 0, 0.679);
  line-height: normal;
  margin: 1rem;
  display: inline-grid -ms-inline-grid;
}

h3.bsky-home {
  font-family: "Sixtyfour Slight";
}

.bsky-text, .bsky-text a {
  font-family: "Press Start 2P", sans-serif;
  font-size: 12px !important;
  font-weight: 500;
  line-height: 1rem;
  word-break: break-word;
  padding: 3px 0.5rem 3px 0.5rem;
  letter-spacing: 0.02rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

button.bsky-pag-button, button.bsky-lb-button {
  font-family: "Press Start 2P", sans-serif;
  font-size: 12px;
  color: #d2fff2;
  background: none;
  border: 2px solid #cdfeff;
  padding: 5px 10px;
}

button.bsky-pag-button:disabled {
  color: #778392;
  border: 2px solid #778392;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
}

ul.latest-skeet {
  list-style-type: none;
  padding: 0 12px;
  margin: 0 0;
  font-family: "Press Start 2P", sans-serif;
  text-align: left;
  display: inline-block;
}

.skeet-header {
  grid-template-columns: 4rem auto;
  align-items: center;
  padding: 0 10px;
  display: flex;
}

.bsky-latest {
  text-align: center;
}

.skeet-date {
  font-family: "Workbench Slight";
  font-size: 12px;
}

.skeet-quote-author {
  font-family: "Workbench Close";
  font-size: 12px;
}

.skeet-quote-author a {
  font-family: "Workbench Close" !important;
  font-size: 12px !important;
}

.skeet-reply-status {
  padding-top: 5px;
}

a.skeet-author {
  font-family: "Workbench Slight" !important;
  font-size: 12px !important;
}

.skeet-text a, .quoted-post-text a {
  font-family: "Press Start 2P", sans-serif;
  font-size: 13px !important;
}

.skeet-image-group {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-items: center;
}

.skeet-image {
  padding: 5px;
  text-align: center;
}

.skeet-img-file {
  width: 90%;
}

.author-avatar {
  width: 2rem;
  padding-right: 10px;
}

.skeet-text {
  font-family: "Press Start 2P", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1rem;
  word-break: break-word;
  padding: 5px 1rem 15px 1rem;
  letter-spacing: 0.05rem;
}

.skeet-banger-score, .skeet-banger-score a {
  font-family: "Sixtyfour Evenly", sans-serif;
  font-size: 13px;
  color: #ffdcf6;
}

.skeet-metatext {
  font-family: "Workbench Close";
  font-size: 12px;
  white-space: pre-line;
  overflow-wrap: anywhere !important;
}

.webcard-img {
  width: 100%;
  height: auto;
}

.skeet-youtube {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  width: 100%;
}
.skeet-youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.skeet-youtube .web-deets {
  margin-top: 10px; /* Adjust spacing between video/card and text */
  overflow-wrap: anywhere !important;
}
.skeet-youtube .web-deets h3 {
  font-size: 18px; /* Adjust font size as needed */
  margin-bottom: 5px; /* Add spacing between title and description */
}
.skeet-youtube .web-deets p {
  font-size: 14px; /* Adjust font size as needed */
  color: #666; /* Adjust text color as needed */
}

.skeet-label {
  text-transform: uppercase;
  color: #fff;
}

.skeet-cw, .skeet-cw a {
  font-family: "Sixtyfour Close", sans-serif;
  font-size: 12px;
  color: #fba9c3;
}

.reskeet-user {
  display: grid;
  grid-template-columns: 5rem auto;
  font-family: "Workbench Slight";
  font-size: 13px;
  line-height: 20px;
}

a.reskeet-handle {
  font-size: 13px !important;
  font-family: "Workbench Slight" !important;
}

img.reskeet-pfp {
  width: 4rem;
}

.quote-reskeet-box {
  background: rgba(0, 0, 0, 0.4509803922);
}

.quoted-post-text {
  padding: 3px;
  white-space: pre-line;
  font-size: 11px;
  font-weight: 500;
}

.bsky-lb {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
  font-size: 10px;
}

.bsky-lb-list .bsky-lb-handle a {
  word-wrap: break-word;
  font-family: "Press Start 2P", sans-serif;
  font-size: 10px;
  text-shadow: none !important;
  color: #d3cb55 !important;
  text-transform: uppercase;
}

.bottom10-handle a {
  font-size: 12px !important;
}

.runnerup-handle a {
  font-size: 14px !important;
}

.first-handle a {
  font-size: 16px !important;
}

.bsky-lb-date {
  font-size: 12px;
  font-family: "Workbench Evenly";
}

ul.bsky-lb-list {
  list-style-type: auto;
  padding: 0;
}

ul.bsky-lb-list li {
  list-style-type: auto;
  list-style-position: inside;
}

ul.bsky-lb-list li::marker {
  font-size: 10px;
}

li.bottom10-li::marker {
  font-size: 13px !important;
}

li.runnerup-li::marker {
  color: #dbdbdb;
  font-size: 16px !important;
  text-shadow: 0 0 0.6rem #818181, 0 0 1.5rem #b2b2b2, -0.2rem 0.1rem 1rem #a5a5a5, 0.2rem 0.1rem 1rem #979797, 0 -0.5rem 2rem #636363, 0 0.5rem 3rem #a4a4a4;
  animation: shine_silver 2s forwards, flicker 3s infinite;
}

li.first-place-li::marker {
  font-size: 20px !important;
  text-shadow: 0 0 0.6rem #fff5e6, 0 0 1.5rem #fffa65, -0.2rem 0.1rem 1rem #ffc165, 0.2rem 0.1rem 1rem #fffa65, 0 -0.5rem 2rem #ffff24, 0 0.5rem 3rem #ffe924;
  animation: shine_gold 2s forwards, flicker 3s infinite;
  color: #5e4c0a;
}

.bottom10-author-avatar {
  width: 2.75rem;
}

.runnerup-author-avatar {
  width: 3.5rem;
}

.first-author-avatar {
  width: 4.25rem;
}

.bsky-lb-score {
  color: #8cfab6;
  text-align: center;
}

.bottom10-score {
  font-size: 12px;
}

.runnerup-score {
  color: #dbdbdb;
  font-size: 14px;
  text-shadow: 0 0 0.6rem #818181, 0 0 1.5rem #b2b2b2, -0.2rem 0.1rem 1rem #a5a5a5, 0.2rem 0.1rem 1rem #979797, 0 -0.5rem 2rem #636363, 0 0.5rem 3rem #a4a4a4;
  animation: shine_silver 2s forwards, flicker 3s infinite;
}

.first-score {
  text-shadow: 0 0 0.6rem #fff5e6, 0 0 1.5rem #fffa65, -0.2rem 0.1rem 1rem #ffc165, 0.2rem 0.1rem 1rem #fffa65, 0 -0.5rem 2rem #ffff24, 0 0.5rem 3rem #ffe924;
  animation: shine_gold 2s forwards, flicker 3s infinite;
  color: #5e4c0a;
  font-size: 16px;
}

.bsky-lb-postsnip {
  font-family: "Workbench Evenly", sans-serif !important;
  font-size: 12px !important;
  white-space: pre-line;
  overflow-wrap: anywhere !important;
}

.glow {
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65a3ff, -0.2rem 0.1rem 1rem #6589ff, 0.2rem 0.1rem 1rem #659bff, 0 -0.5rem 2rem #2483ff, 0 0.5rem 3rem #245eff;
  animation: shine 2s forwards, flicker 3s infinite;
}

@media (min-width: 350px) {
  .home-links {
    line-height: 70px;
  }
  .home-links a {
    font-size: 72px;
  }
  .about_U {
    font-size: 85px;
  }
}
@media (min-width: 470px) {
  .home-links {
    line-height: 85px;
  }
  .home-links a {
    font-size: 85px;
  }
  .about_U {
    font-size: 90px;
  }
}
@media (min-width: 625px) {
  .home-links {
    line-height: 100px;
  }
  .home-links a {
    font-size: 125px;
  }
  .about_U {
    font-size: 146px;
  }
  .header {
    grid-template-columns: 48em 3em;
  }
  .header_title {
    font-size: 12px;
    margin: 5px 5px;
  }
  .bsky-home {
    margin: 5rem;
    font-family: "Press Start 2P", sans-serif;
  }
  .bsky-lb-bottom {
    padding: 0 3rem 1rem 3rem;
  }
  .skeet-image-group {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-items: center;
  }
  .skeet-image {
    padding: 23px;
  }
  .skeet-img-file {
    width: 90%;
  }
  ul.bsky-lb-list {
    padding: 0px 3rem 0px 3rem;
  }
}
@media (min-width: 800px) {
  h1.brand {
    padding: 0 5px;
    margin: 10px 0 75px 0px;
  }
}
@media (min-width: 900px) {
  .bsky-lb-entry-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1024px) {
  .bsky-lb-score {
    font-size: 14px;
  }
  .bottom10-score {
    font-size: 16px;
  }
  .runnerup-score {
    font-size: 18px;
  }
  .first-score {
    font-size: 22px;
  }
}
@media (min-width: 1225px) {
  .home-links {
    background-size: cover;
    line-height: 120px;
  }
  .home-links a {
    font-size: 150px;
  }
  .about_U {
    font-size: 175px;
  }
  .bsky-home {
    margin: 5rem 10rem;
  }
}
@media (min-width: 1440px) {
  .home-links {
    line-height: 120px;
  }
  .home-links a {
    font-size: 150px;
  }
  .about_U {
    font-size: 175px;
  }
  .bsky-home {
    margin: 5rem 14rem;
  }
  .bsky-lb-score {
    font-size: 18px;
  }
  .bottom10-score {
    font-size: 22px;
  }
  .runnerup-score {
    font-size: 25px;
  }
  .first-score {
    font-size: 30px;
  }
}
@media (min-width: 1600px) {
  h1.brand {
    margin: 10px 0 1em 0px;
  }
  .bsky-home {
    margin: 5rem 20rem;
  }
}
@media (min-width: 2000px) {
  .home-links {
    line-height: 180px;
  }
  .home-links a {
    font-size: 230px;
  }
  .about_U {
    font-size: 275px;
  }
}
@keyframes blink {
  0%, 22%, 36%, 75% {
    color: #e6eaff;
    text-shadow: 0 0 0.6rem #e6eaff, 0 0 1.5rem #657cff, -0.2rem 0.1rem 1rem #6581ff, 0.2rem 0.1rem 1rem #657cff, 0 -0.5rem 2rem #2457ff, 0 0.5rem 3rem #247cff;
  }
  28%, 33% {
    color: #2b52ff;
    text-shadow: none;
  }
  82%, 97% {
    color: #cdfeff;
    text-shadow: none;
  }
}
.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #183c6b;
    text-shadow: none;
  }
  100% {
    color: #e6f5ff;
    text-shadow: 0 0 0.6rem #e6fbff, 0 0 1.5rem #659bff, -0.2rem 0.1rem 1rem #656fff, 0.2rem 0.1rem 1rem #6581ff, 0 -0.5rem 2rem #3324ff, 0 0.5rem 3rem #2824ff;
  }
}
@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
@keyframes shine {
  0% {
    color: #183c6b;
    text-shadow: none;
  }
  100% {
    color: #e6f5ff;
    text-shadow: 0 0 0.6rem #e6fbff, 0 0 1.5rem #659bff, -0.2rem 0.1rem 1rem #656fff, 0.2rem 0.1rem 1rem #6581ff, 0 -0.5rem 2rem #3324ff, 0 0.5rem 3rem #2824ff;
  }
}
@keyframes shine_gold {
  0% {
    color: #6b5a18;
    text-shadow: none;
  }
  100% {
    color: #fff1e6;
    text-shadow: 0 0 0.6rem #9b946f, 0 0 1.5rem #867e6f, -0.2rem 0.1rem 1rem #ffea65, 0.2rem 0.1rem 1rem #ffea65, 0 -0.5rem 2rem #ffe224, 0 0.5rem 3rem #ffcc24;
  }
}
@keyframes shine_sliver {
  0% {
    color: #6a6a6a;
    text-shadow: none;
  }
  100% {
    color: #fff1e6;
    text-shadow: 0 0 0.6rem #808080, 0 0 1.5rem #847f76, -0.2rem 0.1rem 1rem #e0e0e0, 0.2rem 0.1rem 1rem #7e7e7e, 0 -0.5rem 2rem #cacaca, 0 0.5rem 3rem #a5a5a5;
  }
}
@keyframes flicker {
  from {
    opacity: 1;
  }
  4% {
    opacity: 0.9;
  }
  6% {
    opacity: 0.85;
  }
  8% {
    opacity: 0.95;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0.922;
  }
  12% {
    opacity: 0.9;
  }
  14% {
    opacity: 0.95;
  }
  16% {
    opacity: 0.98;
  }
  17% {
    opacity: 0.9;
  }
  19% {
    opacity: 0.93;
  }
  20% {
    opacity: 0.99;
  }
  24% {
    opacity: 1;
  }
  26% {
    opacity: 0.94;
  }
  28% {
    opacity: 0.98;
  }
  37% {
    opacity: 0.93;
  }
  38% {
    opacity: 0.5;
  }
  39% {
    opacity: 0.96;
  }
  42% {
    opacity: 1;
  }
  44% {
    opacity: 0.97;
  }
  46% {
    opacity: 0.94;
  }
  56% {
    opacity: 0.9;
  }
  58% {
    opacity: 0.9;
  }
  60% {
    opacity: 0.99;
  }
  68% {
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  72% {
    opacity: 0.95;
  }
  93% {
    opacity: 0.93;
  }
  95% {
    opacity: 0.95;
  }
  97% {
    opacity: 0.93;
  }
  to {
    opacity: 1;
  }
}
.blueface {
  background-image: url("../img/rev_crt.png");
}/*# sourceMappingURL=Home.css.map */