@import "variables/variables.scss";

html{
  height: 100%
}

body{
    background-color: $home_bg;
    font-family: $nav_text;
    font-weight: 600;
    margin: 0px;
    min-height: 100%;
    color: $home_txt;
}

.autotext {
  color: $home1;
}

h1.brand {
    font-family: $main_header;
    color: $home_txt;
    height: 10pt;
    font-size: 6vw;
    padding: 0 5px;
}

p.h1-mini {
  padding-top: 15px;
  padding-left: 5px;
}

h1, h2, h3 {
  font-family: $standard_headers;
}

h2 {
  margin: 2px 0 2px 0;
}


.autotyping {
    font-family: $typingtext;
    color: $home1;
}

.home-links{
    text-align: right;
    background-image: url('../img/rev_crt.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 72px;
    padding-top: 1rem;
}

.home-links a {
    /*background: #06474569;*/
    font-family: $home-links;
    font-size: 60px;
    text-decoration: none;
    color: $home1;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65a3ff,
    -0.2rem 0.1rem 1rem #6589ff, 0.2rem 0.1rem 1rem #659bff,
    0 -0.5rem 2rem #2483ff, 0 0.5rem 3rem #245eff;
  animation: shine 2s forwards, flicker 3s infinite;
}

.about_U{
    font-size: 68px;
}

.h1-mini{
  color: $home_txt;
  font-family: $bsky_text;
  font-size: 11px; 
}

.bsky-home {
  text-align: center;
  background: rgba(0, 0, 0, 0.679);
  line-height: normal;
  margin: 1rem;
}

h3.bsky-home {
  font-family: 'Sixtyfour Slight';
}

ul.latest-skeet {
  list-style-type: none;
  padding: 0 12px;
  margin: 0 0;
  font-family: $bsky_text;
  text-align: left;
  display: inline-block;
}

.skeet-date {
  font-family: 'Workbench Slight';
  font-size: 12px;
}

.skeet-date a {
  font-family: 'Workbench Slight';
  font-size: 12px !important;
}

.skeet-text a, .quoted-post-text a {
  font-family: $bsky_text;
  font-size: 11px !important;
}

.skeet-image-group {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-items: center;
}

.skeet-image {
  padding: 5px;
  text-align: center;
}

.skeet-img-file {
  width: 90%;
}

.skeet-text {
  padding-bottom: 15px;
  font-family: $bsky_text;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  word-break: break-word;
}

.skeet-banger-score {
  font-family:'Sixtyfour Evenly', sans-serif;
}

.skeet-metatext {
  font-family: 'Workbench Slight';
  font-size: 12px;
  white-space: pre-line;
  overflow-wrap: anywhere !important;
}

.webcard-img {
  width: 100%;
  height: auto;
}


.skeet-youtube {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; // Aspect ratio for 16:9 videos
  width: 100%; // Full width of the container


  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  .web-deets {
    margin-top: 10px; /* Adjust spacing between video and text */
    overflow-wrap: anywhere !important;
  
    h3 {
      font-size: 18px; /* Adjust font size as needed */
      margin-bottom: 5px; /* Add spacing between title and description */
    }
    
    p {
      font-size: 14px; /* Adjust font size as needed */
      color: #666; /* Adjust text color as needed */
    }
  }
}

.reskeet-user {
  display: grid;
  grid-template-columns: 5rem auto;
  font-family: 'Workbench Slight';
  font-size: 13px;
  line-height: 20px;
}

a.reskeet-handle {
  font-size: 13px !important;
  font-family: 'Workbench Slight' !important;
}

img.reskeet-pfp {
  width: 4rem;
}

.quote-reskeet-box {
  background: #00000073;
  padding: 4px;
}

.quoted-post-text {
  padding: 5px;
  white-space: pre-line;
  font-size: 11px;
  font-weight: 500;
}

.glow {
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65a3ff, -0.2rem 0.1rem 1rem #6589ff, 0.2rem 0.1rem 1rem #659bff, 0 -0.5rem 2rem #2483ff, 0 0.5rem 3rem #245eff;
  animation: shine 2s forwards, flicker 3s infinite;
}

@media (min-width: 350px) {
  .home-links{
    line-height: 70px;
  }

  .home-links a {
    font-size: 72px;
  }

  .about_U{
    font-size: 85px;
  }
}

@media (min-width: 470px) {
  .home-links{
    line-height: 85px;
  }

  .home-links a {
    font-size: 85px;
  }

  .about_U{
    font-size: 90px;
  }
}

@media (min-width: 625px) {
  .home-links{
    line-height: 100px;
  }

  .home-links a {
    font-size: 125px;
  }

  .about_U{
    font-size: 146px;
  }

  .header {
    grid-template-columns: 48em 3em;
  }

  .header_title {
    font-size: 12px;
  }

  .bsky-home {
    margin: 5rem;
  }

  .skeet-image-group {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-items: center;
  }
  
  .skeet-image {
    padding: 23px;
  }
  
  .skeet-img-file {
    width: 90%;
  }
}

@media (min-width: 800px) {
  h1.brand {
    padding: 0 5px;
    margin: 10px 0 75px 0px;
  }
}

@media (min-width: 1225px) {
  .home-links{
    background-size: cover;
    line-height: 120px;
  }

  .home-links a {
    font-size: 150px;
  }

  .about_U{
    font-size: 175px;
  }
}

@media (min-width: 1440px) {
  .home-links{
    line-height: 120px;
  }

  .home-links a {
    font-size: 150px;
  }

  .about_U{
    font-size: 175px;
  }
}

@media (min-width: 1600px) {
  h1.brand{
    margin: 10px 0 1em 0px;
  }
}

@media (min-width: 2000px) {
  .home-links{
    line-height: 180px;
  }

  .home-links a {
    font-size: 230px;
  }

  .about_U{
    font-size: 275px;
  }
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #e6eaff;
    text-shadow: 0 0 0.6rem #e6eaff, 0 0 1.5rem #657cff,
      -0.2rem 0.1rem 1rem #6581ff, 0.2rem 0.1rem 1rem #657cff,
      0 -0.5rem 2rem #2457ff, 0 0.5rem 3rem #247cff;
  }
  28%,
  33% {
    color: #2b52ff;
    text-shadow: none;
  }
  82%,
  97% {
    color: $home_txt;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #183c6b;
    text-shadow: none;
  }
  100% {
    color: #e6f5ff;
    text-shadow: 0 0 0.6rem #e6fbff, 0 0 1.5rem #659bff,
      -0.2rem 0.1rem 1rem #656fff, 0.2rem 0.1rem 1rem #6581ff,
      0 -0.5rem 2rem #3324ff, 0 0.5rem 3rem #2824ff;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

.blueface {
    background-image: url('../img/rev_crt.png');
}