@import "variables/variables.scss";

//The "Body" of just contact.js. Here's everything that gets transitioned to a different color scheme on state change.
.socials-page {
    background-color: #27031e;
    color: #d6c7fd;
    transition: background-color 0.75s ease, color 0.75s ease;

    .bm-menu {
        background: #5d4165
    }
    
    a {
        color: #63a3fd;
    }

    .autotext {
        color: #cae0ff;
    }
}


.sm-plus-list {
    padding: 50px 1rem;
}

.sm-plus-list h2 {
    font-family: $standard_headers;
    color: #aecefa;
    font-size: 20px;
}

.get-bent-elon {
    font-family: "Nosifer", sans-serif;
    color: #a30000;
    font-size: 17px;
    text-shadow: 2px 2px 0 rgb(35 11 11 / 85%);
    font-weight: 100;
    -webkit-text-stroke-width: inherit;
}


