//Color Pallettes

//Home
$home_bg: #0f152d;
$home_txt: #cdfeff;
//Use these for text effects. $home1 should transition into or with $home2
$home1: #8debe3;
$home2: #1f5d6b;
$menu_hover: #fff27d;
$home_a: #5245de;

//Projects
$projects_bg: #741717;
$projects_text: #ffe3e3;
$projects1: #f5b0b0;
$projects2: #f85353;

//Fonts
$main_header: 'Sixtyfour', sans-serif;
$home_links: 'Megrim', sans-serif;
$typingtext: 'Workbench', sans-serif;
$nav_text: 'Righteous', sans-serif;
$bsky_text: 'Press Start 2P', sans-serif;
$standard_headers: 'Righteous', sans-serif;
